# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Documentation
*.md
*.MD
*.png
*.PNG
*.jpg
*.JPG

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
