apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
  labels:
    app: {{ .Release.Name }}
type: Opaque
stringData:
  ConnectionStrings__BookstoreDb: {{ .Values.config.connectionString | quote }}
  ApplicationInsights__ConnectionString: {{ .Values.config.appInsightsConnectionString | quote }}
